<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
      <h1 class="display-3" style="font-size: 50px; font-weight:bold; margin: 50px">Invalid token Please check your credentials.</h1>
     
      <hr>
      <div class="container mt-5">
      <h1 style="color: rgb(235, 60, 60); font-weight: bold;">Create New Account</h1></h1>
      <div class="row">
        <div class="col-auto">
          <div class="card" style="margin-left: 20px;">
                <a  class="btn btn-dark" href="/UseRegister.html" class="btn-text">
              Register
            </a>
         
          </div>
        </div>
    
  
  
    </div>
  </div>




<%- include('partials/footer') %>
